<div class="main">
    <div class="slider-container">
        <div class="image-container" id="imgs">
            <img src="assets/33.jpg" alt="first"class="slide active"/>
            <div class="text"> <h1>Fall And Pico</h1>  </div>
        </div></div>
       <h2> Saree Fall & Pico</h2>
       
       <div class="one">
        <div class="flip_container">
            <div class="flip">
        <div class="flip_front">
            <img src="assets/download (49).jpg" width="250" height="250"></div>
            
                <div class="flip_back">
            <img src="assets/download (50).jpg"  width="250" height="250">
                </div>
             </div>
             
        </div>
        <div class="flip_container">
            <div class="flip">
        <div class="flip_front">
            <img src="assets/fabrics.jpg" width="250" height="250"></div>
            
                <div class="flip_back">
            <img src="assets/fall.jpg"  width="250" height="250">
                </div>
             </div>
        </div>
        <div class="flip_container">
            <div class="flip">
        <div class="flip_front">
            <img src="assets/download (6).jpg" width="250" height="250"></div>
            
                <div class="flip_back">
            <img src="assets/download (7).jpg"  width="250" height="250">
                </div>
             </div>
        </div>
        
    </div>
    
    <div class="info">
        <h4>Saree Fall & pico</h4>
        <p>we can make saree fall & pico.and its price are RS.50.</p>
        <p>All womens are known saree fall pico is very important to wearing before saree.and its look nice.<br>
        And saree is betterlife of wearing more days. </p>
        <h4>Saree  pico</h4>
        <p>If you make saree  pico only its also possible .and its price are RS.20.</p>
    </div>
    </div>


   
    
    
