<!--footer strat-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
</head>
<div class="footer">
    <div class="container"> 
     
      <div class="col-lg-4 col-md-4 col-sm-6 footer_start">
       <h3>About Us</h3>
        <p>Saheli ladies taior is an online boutique which takes care of all stitching<a routerLink="/about" style="color:red">Read More</a></p>
        <ul class="social_link">
        <li>
          <a href="#" target="_blank" class="facbook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
         </li>  
         <li>
           <a href="#" target="_blank" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
         </li>
         <li>
           <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
         </li>
           <li>
           <a href="#" target="_blank" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
         </li>
         <li>
           <a href="#" target="_blank" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
         </li>
        </ul>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-6 footer_start">
       <h3>Follow Link</h3>
      <ul class="areas">
           <li><i class="fa fa-angle-right" aria-hidden="true"></i><a routerLink="/home">Home</a></li>
           <li><i class="fa fa-angle-right" aria-hidden="true"></i><a routerLink="/about">About Us</a></li>
           <li><i class="fa fa-angle-right" aria-hidden="true"></i><a routerLink="/price">Pricing</a></li>
           <li><i class="fa fa-angle-right" aria-hidden="true"></i><a routerLink="/pocket">Pockets are freedom</a></li>
           <li><i class="fa fa-angle-right" aria-hidden="true"></i><a routerLink="/howitwork">How it work</a></li>
           <li><i class="fa fa-angle-right" aria-hidden="true"></i><a routerLink="/contact">Contact Us</a></li>  
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 footer_start">
       <h3> Terms </h3>
        <ul class="areas">
         <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#" target="_blank"> Privacy Policy</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#" target="_blank"> Terms & Conditions</a></li>
          <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#" target="_blank" > Login</a></li>      
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 footer_start">
       <h3>Keep In Touch</h3>
        <ul class="areas">
         <li><i class="fa fa-map-marker" aria-hidden="true"></i><a > We are located at Pune, Dhankawadi, Sawarkar chowk</a></li>
         <li><i class="fa fa-phone" aria-hidden="true"></i><a > 9485764567 </a></li>
         <li><i class="fa fa-clock-o" aria-hidden="true"></i><a > Mon-sat 11 am - 8 pm</a></li>
         <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a>  kad@yahoo.com</a></li>
         <li><i class="fa fa-mobile" aria-hidden="true"></i><a> 9435816845 </a></li>
        </ul>
      </div>

      
     
    </div>
   </div>
   <!--footer_bottom strat-->
   <div class="footer_bottom">
    <div class="container">
     
      <p > © All Rights Reserved 2021. Powered By <a href="#">Ashwini </a></p>
      

    <section>
      <button class="chat-btn">
        <i class="material-icons">comment</i>
      </button>
      <div class="chat-popup">
        <div class="badge">1</div>
        <div class="chat-area">
          <div class="income-msg">
          <img class="avatar" src="assets/ash.jpg" alt="">
          <span class="msg">Hi,How can I help you?</span>  
          </div>
          
        </div>
        <div class="input-area">
          
          <input type="text" class="input" placeholder="Type a message" required>
          
          <button id="emoji-btn">😊</button>
          <button class="submit"><i class="material-icons"> send </i></button>
        </div>
      </div>
    </section>
    </div>
    </div>
        

