<header>
    
  <div class="topMenu">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-7 col-xs-12">
          <div class="topMenuText"> <i>Fashion Of Clothes </i></div>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12 topMenuInfo">
          <ul>
            <li><a routerLink="/admin"  routerLinkActive="active">Admin</a></li>
            <li style="color:#000"><i class="fa fa-phone" aria-hidden="true"></i><strong>(01)9604901344</strong></li>
            <li class="search-container">
              
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              
            </li>
            

          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        
        <a class="navbar-brand" href="/home">
          <a href="#" class="logo">
            <img class="img" src="assets/fashion.png" alt="" height="100" width="100">
          </a>
        
        </a>
      </div>
      <!-- Collect the nav links,
        forms,
        and other content for toggling -->
      <div class="collapse navbar-collapse navbar-center" id="bs-example-navbar-collapse-1">
        <div class="menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/home"  routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active" >About Us</a></li>
            <li><a routerLink="/price"  routerLinkActive="active">Pricing</a></li>
            <li><a routerLink="/pocket"  routerLinkActive="active">Pocket are freedom</a></li>
            <li><a routerLink="/howitwork"  routerLinkActive="active">How it work</a></li>
            <li><a routerLink="/bookappoinment"  routerLinkActive="active">Book an appoinment</a></li>
            <!-- <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Program's / Event's <span class="caret"></span></a>
              <ul class="dropdown-menu pull-left">
                <li><a routerLink="/program"  routerLinkActive="active">Program's</a></li>
              </ul>
            </li> -->
            <li class="dropdown">
              <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"routerLink="/service"  routerLinkActive="active">Services <span class="caret"></span></a>
              <ul class="dropdown-menu pull-left">
                <li><a routerLink="/kids"  routerLinkActive="active">Kids</a></li>
                <li><a routerLink="/dresses"  routerLinkActive="active">Dresses</a></li>
                <li><a routerLink="/blouses"  routerLinkActive="active">Blouses</a></li>
                <li><a routerLink="/fallpico"  routerLinkActive="active">Fall & Pico</a></li>
                <li><a routerLink="/saree"  routerLinkActive="active">Nauwari saree & Gagara</a></li>
                <li><a routerLink="/one"  routerLinkActive="active"> One piss/long frock </a></li>
                <li><a routerLink="/repair"  routerLinkActive="active"> Alteration and repair </a></li>
              </ul>
            </li>
            <li><a routerLink="/contact"  routerLinkActive="active">Contact Us</a></li>

            
          </ul>
          
        </div>
      </div>
    </div>

      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
