<div class="main">
    <div class="slider-container">
        <div class="image-container" id="imgs">
            <img src="assets/images (17).jpg" alt="first"class="slide active"/>
            <div class="text"> <h1>Kids</h1>  </div>
        </div></div>
        <h2>Kid's Collection's</h2>
        
        
        <div class="row">
          <div class="column rotateX">
            <img src="assets/download (18).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Red frock</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/f.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">yellow frock stiching</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/download (17).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Pink frock</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (25).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Saree stiching</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/fr.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">Half slive frock</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (19).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Design With front frock</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (20).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Skirt top with half slive</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (21).jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">Skirt Top</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (26).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Mastani saree</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/download (19).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Simple saree</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/fr2.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">pink frock</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/fro.jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">simple frock</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/frock.jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Frock</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (15).jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text"> Frock with Design</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (16).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Pink frock</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (23).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text"> Frock </div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (24).jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">Skirt with blouse</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/download (4).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Red frock</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (27).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Skirt top</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/maxi.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text"> Frock's</div>
              </div>
          </div>
          <div class="column rotateX">
            <img src="assets/images (28).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Skirt top</div>
              </div>
          </div>
        </div>
    
    
    </div>