<div class="main">
  <div class="slider-container">
      <div class="image-container" id="imgs">
          <img src="assets/about.jpg" alt="first"class="slide active"/>
          <div class="text"> <h1>About Us</h1>  </div>
      </div>
      </div>
    
        <div class="clearboth"></div>
      
      <div class="clearfix"></div>
      <div class="clearfix">
        <img class="img2" src="assets/stich.jpg" alt="Pineapple" width="600" height="170">
        <h1>Team Of Experienced
          Tailors</h1>
          <h4>
          We have a team of the experienced tailor and visionary designers, who can create a perfect outfit with pinch of your taste in it. Even after delivery of outfit, if there is any alteration, we do it again, and deliver it again....</h4>
      </div>
      <div class="clearboth"></div>
      <div class="clearboth"></div>

      <div class="clearfix"></div>
        
      <div class="container">
        
            
        <div class="row">                <div id="content" class="col-sm-12">      <h1>About Us</h1>
            <p style="text-align: justify; font-size: 20px; ">Saheli ladies tailor is an online boutique which takes care of all stitching requirements of  women and kids, be it alterations or fresh stitching or customization old saree to new dress. We provide doorstep services without any minimum price requirements. We have wide range of fabrics and accessories. Our motive is to make relations not customers. So until and unless our customers are not satisfied with our work, we keep on giving them services. Our model of tailoring is not like others who work only for money, we give value to your money and time. we have come to understand your fashion needs better. As an extension of our service, we are offering the most skilled, reliable online tailoring service to help you realise your style goals. Our highly professional and, at the same time, customer-centric approach will help you have a pleasant experience in getting customised fashion.</p>
      
      <p style="text-align: justify; font-size: 20px; ">Custom stitch Saree Blouse, Salwar Suits, Anarkali Suits, Kurti Top, Lehenga and ethnic Bottomwear in styles and fit that complement you perfectly! When you choose to stitch clothes that suit you, both personality and fit-wise, you end up with the most amazing set of clothes that speak to your style!. </p>
      
      <p style="text-align: justify; font-size: 20px;">With everything that is available online for your convenience, it is only right to offer custom-stitching services for you in the digital world too. No long, tiring and disappointing wait at the tailors shop and struggling to explain to them your style wish; just sit back, let the AC run and browse through ALL imaginable designs right here at one place - at great prices too! Our team of fashion designers will personally design these outfits for you and give the tailor accurate instructions. Yes, you will have your own designer coordinating your style for you!</p>
      
      <p style="text-align: justify; font-size: 20px;">You can coordinate your order through call or whatsapp, and share all the necessary details in a way that is comfortable to you. Our pick-up facility will collect the fabric you want stitched; if you need help with selection of fabric - we are here to help you with that too! From buying and selection of fabric of your choice, to picking up add-on style features that will go in the final outfit, we will take care of all the requirements for you. If you want a particular type of embroidery or embellishment on your outfit, our value added services include talented craftspersons that will bring your ideas to life. While you dream of your customised attire, we will work hard to turn it into a gorgeous reality. Customer happiness is our primary goal! </p>
      
      <p style="text-align: justify; font-size: 20px;">It will be a sure thrill to see your design sketch transformed into a final outfit when it is delivered to you destination. Our faster stitching and delivery service (currently available only in Pune) will ensure that your most awaited online order is there for you just when you need it. Go ahead, send us the details of that outfit you’ve been meaning to stitch for so long. You can trust our online stitching site to take your many ideas and transform them into final outfits. </p>
      
      <p style="text-align: justify;font-size: 20px;">A stitch in time saves nine, they say, but stitch here at save more than time - save yourself from ill-fitting clothes and boring fashion! </p>
      </div>
          </div>
      </div>
       
       
        </div>

       

       
         
       

      
    
  
