<div class="main">
  
  <div class="slider-container">
      <div class="image-container" id="imgs">
          <img src="assets/ab.jpg" alt="first"class="slide active"/>
          <div class="text"> <h1>How It Work</h1>  </div>
      </div></div>
      <div class="wpb_wrapper">
        <div id="padding-3" class="mk-padding-divider"></div>
        
        
        <h3 id="fancy-title-4" class="mk-fancy-title">
            <span>
                        <p>How Does Tailor Junction Work?</p>
                    </span>
        </h3>
        <div class="clearboth"></div>
        
        
        
        
        <h3 id="fancy-title-5" class="mk-fancy-title-sub">
            <span>
                        <p>It’s simple, affordable and risk free.</p>
                    </span>
        </h3>
        <div class="clearboth"></div>
        
        
        
        </div>
        <div class="wrap">
            
          <div class="card">
            <div class="card__picture"style="height: 250px">
              <img src="assets/images.jpg" width="200" height="200" alt="">
            </div>
            <div class="card__content">
              <h2>Pick</h2>
              <p class="para">Once you book the appointment,tailor will take measurements and pick your fabric.</p>
            </div>
          </div>
          <div class="card">
            <div class="card__picture" style="height: 250px">
              <img src="assets/stich.jpg" width="200" height="200" alt="">
            </div>
            <div class="card__content">
              <h2>Stich</h2>
              <p class="para">Outfit will be stitched under experts guidance.</p>
            </div>
          </div>
          <div class="card">
            <div class="card__picture" style="height: 250px">
              <img src="assets/rupye.png" width="200" height="200" alt="">
            </div>
            <div class="card__content">
              <h2>Deliver</h2>
              <p class="para"> approval and payment confirmation, the design will be sent for production.</p>
            </div>
          </div>
         </div>

         <h1>Review</h1>
         <div class="review">
         <div id="panel" class="panel-container">
          <strong>How satisfied are you with our<br>
           Performance?
          </strong>
          <div class="ratings-container">
              <div class="rating">
                  <img src="https://image.flaticon.com/icons/svg/187/187150.svg" alt="">
                  <small>Unhappy</small>
              </div>
              <div class="rating">
                  <img src="https://image.flaticon.com/icons/svg/187/187136.svg" alt=""><br>
                  <small>Neutral</small>
              </div>
              <div class="rating active">
                  <img src="https://image.flaticon.com/icons/svg/187/187133.svg" alt="">
                  <small>Satisfied</small>
              </div>
          </div>
          <button class="btn" id="send">Send Review</button>
      </div>
      </div>
      <div class="clearfix"></div>
    </div>