<div class="main">
    <div class="slider-container">
        <div class="image-container" id="imgs">
            <img src="assets/price1.jpg" alt="first"class="slide active"/>
            <div class="text"> <h1>Pricing</h1>  </div>
        </div></div>
       
        
      <main id="main">
        <div class="movie">
          <img src="assets/b4.jpg" alt="">
          <div class="movie-info">
            <h3> Price</h3>
            <span class="green">300</span>
        </div>
        <div class="overview">
            <h3>overview</h3>
            Blouse with Astar with disign and golden less.
        </div>
        </div>
        <div class="movie">
          <img src="assets/b17.jpg" alt="">
          <div class="movie-info">
            <h3> Price</h3>
            <span class="green">350</span>
        </div>
        <div class="overview">
            <h3>overview</h3>
            Blouse with Astar with disign. add back neck,slive design.
        </div>
        </div>
            <div class="movie">
              <img src="assets/b21.jpg" alt="">
              <div class="movie-info">
                <h3> Price</h3>
                <span class="green">400</span>
            </div>
            <div class="overview">
                <h3>overview</h3>
                Blouse with Astar with disign and golden less.slive design back neck design.
            </div>
            </div>
            <div class="movie">
              <img src="assets/b16.jpg" alt="">
              <div class="movie-info">
                <h3> Price</h3>
                <span class="green">350</span>
            </div>
            <div class="overview">
                <h3>overview</h3>
                Blouse with Astar with back neck disign and slive design.
            </div>
            </div>
            <div class="movie">
              <img src="assets/download (4).jpg" alt="">
              <div class="movie-info">
                <h3> Price</h3>
                <span class="green">300</span>
            </div>
            <div class="overview">
                <h3>overview</h3>
                collect the Fabric and stich child girls frock.
            </div>
            </div>
            <div class="movie">
              <img src="assets/fr.jpg" alt="">
              <div class="movie-info">
                <h3> Price</h3>
                <span class="green">300</span>
            </div>
            <div class="overview">
                <h3>overview</h3>
                collect the Fabric and stich child girls frock.
            </div>
            </div>
            <div class="movie">
              <img src="assets/fro.jpg" alt="">
              <div class="movie-info">
                <h3> Price</h3>
                <span class="green">300</span>
            </div>
            <div class="overview">
                <h3>overview</h3>
                collect the Fabric and stich child girls frock.
            </div>
            </div>
            <div class="movie">
              <img src="assets/frock.jpg" alt="">
              <div class="movie-info">
                <h3> Price</h3>
                <span class="green">300</span>
            </div>
            <div class="overview">
                <h3>overview</h3>
                collect the Fabric and stich child girls frock.
            </div>
            </div>
            <div class="movie">
              <img src="assets/yellow.jpg" alt="">
              <div class="movie-info">
                <h3> Price</h3>
                <span class="green">300</span>
            </div>
            <div class="overview">
                <h3>overview</h3>
              <h6>Doti</h6>  collect the dress material and stich your's requirement.with neck design.
            </div>
            </div>
            <div class="movie">
              <img src="assets/salwar.jpg" alt="">
              <div class="movie-info">
                <h3> Price</h3>
                <span class="green">350</span>
            </div>
            <div class="overview">
                <h3>overview</h3>
                <h6>Patiyala</h6>  collect the dress material and stich your's requirement.with neck design.
            </div>
            </div>
                <div class="movie">
                  <img src="assets/dress (2).jpg" alt="">
                  <div class="movie-info">
                    <h3> Price</h3>
                    <span class="green">350</span>
                </div>
                <div class="overview">
                    <h3>overview</h3>
                    <h6>Chudidhar</h6>  collect the dress material and stich your's requirement.with neck design.
                </div>
                </div>
                <div class="movie">
                  <img src="assets/images (2).jpg" alt="">
                  <div class="movie-info">
                    <h3> Price</h3>
                    <span class="green">350</span>
                </div>
                <div class="overview">
                    <h3>overview</h3>
                    <h6>Salwar</h6>  collect the dress material and stich your's requirement.with neck design.
                </div>
                </div>
                <div class="movie">
                  <img src="assets/download (1).jpg" alt="">
                  <div class="movie-info">
                    <h3> Price</h3>
                    <span class="green">300</span>
                </div>
                <div class="overview">
                    <h3>overview</h3>
                    <h6>Chudidhar</h6>  collect the dress material and stich your's requirement.with neck design.
                </div>
                </div>
                <div class="movie">
                  <img src="assets/doti.jpg" alt="">
                  <div class="movie-info">
                    <h3> Price</h3>
                    <span class="green">300</span>
                </div>
                <div class="overview">
                    <h3>overview</h3>
                    <h6>doti</h6>  collect the dress material and stich your's requirement.with neck design.
                </div>
                </div>
                <div class="movie">
                  <img src="assets/chudidhar.jpg" alt="">
                  <div class="movie-info">
                    <h3> Price</h3>
                    <span class="green">350</span>
                </div>
                <div class="overview">
                    <h3>overview</h3>
                    <h6>Chudidhar</h6>  collect the dress material and stich your's requirement.with neck design.
                </div>
                </div>
                <div class="movie">
                  <img src="assets/download (13).jpg" alt="">
                  <div class="movie-info">
                    <h3> Price</h3>
                    <span class="green">360</span>
                </div>
                <div class="overview">
                    <h3>overview</h3>
                    <h6>doti</h6>  collect the dress material and stich your's requirement.with neck design.
                </div>
                </div>
                <div class="movie">
                  <img src="assets/sareeone.jpg" alt="">
                  <div class="movie-info">
                    <h3> Price</h3>
                    <span class="green">300</span>
                </div>
                <div class="overview">
                    <h3>overview</h3>
                   Collect the Fabric and Long dress stiching to neck design and slive design.
                </div>
                </div>
                <div class="movie">
                  <img src="assets/images (11).jpg" alt="">
                  <div class="movie-info">
                    <h3> Price</h3>
                    <span class="green">350</span>
                </div>
                <div class="overview">
                    <h3>overview</h3>
                    Collect the Fabric and Long dress stiching to neck design and slive design.
                </div>
                </div>
                    <div class="movie">
                      <img src="assets/images(12).jpg" alt="">
                      <div class="movie-info">
                        <h3> Price</h3>
                        <span class="green">400</span>
                    </div>
                    <div class="overview">
                        <h3>overview</h3>
                        Collect the Fabric and Long dress stiching to neck design and slive design.
                    </div>
                    </div>
                    <div class="movie">
                      <img src="assets/download (2).jpg" alt="">
                      <div class="movie-info">
                        <h3> Price</h3>
                        <span class="green">350</span>
                    </div>
                    <div class="overview">
                        <h3>overview</h3>
                        Collect the Fabric and Long dress stiching to neck design and slive design.
                    </div>
                    </div>
                    <div class="movie">
                      <img src="assets/lahenga1.jpeg" alt="">
                      <div class="movie-info">
                        <h3> Price</h3>
                        <span class="green">300</span>
                    </div>
                    <div class="overview">
                        <h3>overview</h3>
                        Collect the Fabric and stiching to Gagra with design.
                    </div>
                    </div>
                    <div class="movie">
                      <img src="assets/lahenga.jpeg" alt="">
                      <div class="movie-info">
                        <h3> Price</h3>
                        <span class="green">300</span>
                    </div>
                    <div class="overview">
                        <h3>overview</h3>
                        Collect the Fabric and stiching to Gagra with design.
                    </div>
                    </div>
                    <div class="movie">
                      <img src="assets/gagra.jpg" alt="">
                      <div class="movie-info">
                        <h3> Price</h3>
                        <span class="green">250</span>
                    </div>
                    <div class="overview">
                        <h3>overview</h3>
                        Collect the Fabric and stiching to Gagra with design.
                    </div>
                    </div>
                    <div class="movie">
                      <img src="assets/women.jpg" alt="">
                      <div class="movie-info">
                        <h3> Price</h3>
                        <span class="green">260</span>
                    </div>
                    <div class="overview">
                        <h3>overview</h3>
                        Collect the Fabric and stiching to Gagra with design.
                    </div>
                    </div>
                    <div class="movie">
                      <img src="assets/download (14).jpg" alt="">
                      <div class="movie-info">
                        <h3> Price</h3>
                        <span class="green">300</span>
                    </div>
                    <div class="overview">
                        <h3>overview</h3>
                        <h5>bramani saree</h5>Collect the Fabric and stich to saree to your requirement.
                    </div>
                    </div>
                    <div class="movie">
                      <img src="assets/images (13).jpg" alt="">
                      <div class="movie-info">
                        <h3> Price</h3>
                        <span class="green">350</span>
                    </div>
                    <div class="overview">
                        <h3>overview</h3>
                        <h5>bramani saree with back side view</h5>Collect the Fabric and stich to saree to your requirement.
                    </div>
                    </div>
                        <div class="movie">
                          <img src="assets/img.jpg" alt="">
                          <div class="movie-info">
                            <h3> Price</h3>
                            <span class="green">400</span>
                        </div>
                        <div class="overview">
                            <h3>overview</h3>
                            <h5>bramani saree</h5><h5>mastani saree</h5><h5>rajlakshmi saree</h5>Collect the Fabric and stich to saree to your requirement.
                        </div>
                        </div>
                        <div class="movie">
                          <img src="assets/nauwari.jpg" alt="">
                          <div class="movie-info">
                            <h3> Price</h3>
                            <span class="green">350</span>
                        </div>
                        <div class="overview">
                            <h3>overview</h3>
                            <h5>Mastani Saree Most requirement </h5>Collect the Fabric and stich to saree to your requirement.
                        </div>
                        </div>
                        <div class="movie">
                          <img src="assets/repair.jpg" alt="">
                          <div class="movie-info">
                            <h3> Price</h3>
                            <span class="green">see your requirement and said</span>
                        </div>
                        <div class="overview">
                            <h3>overview</h3>
                            <h5>Alteration and repair any cloth</h5> customer's reapiring cloth's.
                        </div>
                        </div>
                        <div class="movie">
                          <img src="assets/images (9).jpg" alt="">
                          <div class="movie-info">
                            <h3> Price</h3>
                            <span class="green">50</span>
                        </div>
                        <div class="overview">
                            <h3>overview</h3>
                            Adding Pockets of cloth's to left or right side or other requirement.
                        </div>
                        </div>
                        <div class="movie">
                          <img src="assets/download (8).jpg" alt="">
                          <div class="movie-info">
                            <h3> Price</h3>
                            <span class="green">50</span>
                        </div>
                        <div class="overview">
                            <h3>overview</h3>
                            Making Saree Fall and pico.
                        </div>
                        </div>
                        <div class="movie">
                          <img src="assets/download (7).jpg" alt="">
                          <div class="movie-info">
                            <h3> Price</h3>
                            <span class="green">20</span>
                        </div>
                        <div class="overview">
                            <h3>overview</h3>
                         <h5>Pico</h5>   If customer require only Pico it's fine.
                        </div>
                        </div>
                        
                  </main>
                </div>
         
         