<div class="main">
    <div class="slider-container">
        <div class="image-container" id="imgs">
            <img src="assets/images (6).jfif" alt="first"class="slide active"/>
            <div class="text"> <h1>Blouses</h1>  </div>
        </div></div>
       <h2> Blouses Design</h2>
        
       <div class="row">
        <div class="column rotate">
          <img src="assets/blo/1.jpg" alt="Snow" style="width:100%">
          <div class="overlay">
              <div class="text">NO.1 Butterfly backneck</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/2.jpg" alt="Forest" style="width:100%">
          <div class="overlay">
              <div class="text"> NO.2 Doli backneck</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/3.jpg" alt="Mountains" style="width:100%">
          <div class="overlay">
              <div class="text">NO.3 Slive Design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/4.jpg" alt="Snow" style="width:100%">
          <div class="overlay">
              <div class="text">NO.4 Backneck with slive design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/5.jpg" alt="Forest" style="width:100%">
          <div class="overlay">
              <div class="text">NO.5 Backneck Design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/6.jpg" alt="Mountains" style="width:100%">
          <div class="overlay">
              <div class="text">NO.6 Backneck design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/7.jpg" alt="Snow" style="width:100%">
          <div class="overlay">
              <div class="text">NO.7 Back design of blouse</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/8.jpg" alt="Forest" style="width:100%">
          <div class="overlay">
              <div class="text">NO.8 Backneck design with latkan.</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/9.jpg" alt="Mountains" style="width:100%">
          <div class="overlay">
              <div class="text">NO.9 Backneck design most popular. </div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/10.jpg" alt="Snow" style="width:100%">
          <div class="overlay">
              <div class="text">NO.10 BackNeck Design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/11.jpg" alt="Forest" style="width:100%">
          <div class="overlay">
              <div class="text">NO.11 Neck design with half slive</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/12.jpg" alt="Mountains" style="width:100%">
          <div class="overlay">
              <div class="text">NO.12 back neck design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/13.jpg" alt="Snow" style="width:100%">
          <div class="overlay">
              <div class="text">NO.13 Backneck design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/14.jpg" alt="Forest" style="width:100%">
          <div class="overlay">
              <div class="text">NO.14 Backneck design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/15.jpg" alt="Mountains" style="width:100%">
          <div class="overlay">
              <div class="text">NO.15 Back neck with half solder.</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/16.jpg" alt="Snow" style="width:100%">
          <div class="overlay">
              <div class="text">NO.16 Backneck design </div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/17.jpg" alt="Forest" style="width:100%">
          <div class="overlay">
              <div class="text">NO.17 Backneck with frontneck</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/18.jpg" alt="Mountains" style="width:100%">
          <div class="overlay">
              <div class="text">NO.18 Backneck design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/19.jpg" alt="Snow" style="width:100%">
          <div class="overlay">
              <div class="text">NO.19 Backneck design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/20.jpg" alt="Forest" style="width:100%">
          <div class="overlay">
              <div class="text">NO.20 Backneck design</div>
            </div>
        </div>
        <div class="column rotate">
          <img src="assets/blo/21.jpg" alt="Mountains" style="width:100%">
          <div class="overlay">
              <div class="text">NO.21 Backneck design</div>
            </div>
        </div>
        <div class="column rotate">
            <img src="assets/blo/22.jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">NO.22 backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/23.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">NO.23 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/24.jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">NO.24 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/25.jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">NO.25 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/26.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text"> NO.26 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/27.jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">NO.27 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/28.jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">NO.28 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/29.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">NO.29 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/30.jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">NO.30 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/31.jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">NO.31 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/32.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">NO.32 Frontneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/33.jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">NO.33 Backneck design with Frontneck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/34.jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">NO.34 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/35.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text"> NO.35 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/36.jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">NO.36 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/37.jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text"> NO.37 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/38.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">NO.38 Backneck design with Frontneck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/39.jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">NO.39 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/40.jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">NO.40 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/41.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">NO.41 Backneck design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/blo/42.jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">NO.42 Backneck design</div>
              </div>
          </div>
      </div>
  
    </div>


   
    
    