<div class="main">
    <div class="slider-container">
        <div class="image-container" id="imgs">
            <img src="assets/2.png" alt="first"class="slide active"/>
            
        </div></div>
        
        <div class="container pocket__umm_container__2fSxj"><div class="pocket__umm_main_div__1uXpE"><div class="pocketheading_box"><h2 class="pocket__pocket_heading1__Z5KoW">What do you mean, 'add pockets'? </h2></div><div class="row"><div class="col-md-6 col-12"><h3 class="pocket__umm_heading2__33ZK9">Just that, quite literally.</h3><div class="pocket__underline__1z_Cs"></div><p class="pocket__umm_para__3bgvw">We'll alter your readymade clothes to add in-seam pockets on whichever side you prefer (left or right). We'll find the matching pocket fabric, cut it up into a spacious pocket you can stick your entire hand into &amp; sew it in neatly.</p></div><div class="col-md-6 col-12 my-auto pocket__umm_img_div__2cVEL"><img class="pocket__umm_image__mv6j5" src="assets/images (9).jpg" height="300px" width="650px" alt="pocketimage"></div></div></div></div>

        <div class="container pocket__umm_container__2fSxj"><div class="pocket__umm_main_div__1uXpE"><div class="pocketheading_box"><h2 class="pocket__pocket_heading1__Z5KoW">Adding pocket, to any dress</h2></div><div class="row"><div class="col-md-6 col-12"><h3 class="pocket__umm_heading2__33ZK9">Pocket.</h3><div class="pocket__underline__1z_Cs"></div><p class="pocket__umm_para__3bgvw">we are add any type of dress pockets.left,right side. or also bottoms.</p></div><div class="col-md-6 col-12 my-auto pocket__umm_img_div__2cVEL"><img class="pocket__umm_image__mv6j5" src="assets/images (6).jpg" height="300px" width="650px" alt="pocketimage"></div></div></div></div>

        <div class="container pocket__umm_container__2fSxj"><div class="pocket__umm_main_div__1uXpE"><div class="pocketheading_box"><h2 class="pocket__pocket_heading1__Z5KoW">Add pockets </h2></div><div class="row"><div class="col-md-6 col-12"><h3 class="pocket__umm_heading2__33ZK9">Add Pockets
            To almost any type of clothing</h3><div class="pocket__underline__1z_Cs"></div><p class="pocket__umm_para__3bgvw">We can add pockets to anything with a clear side seam, which is most type of clothing. Some things we can't add pockets to
                - Umbrella cut skirts or horizontally panelled kurtas/dresses as they have no side seams
                - Tight-fitted clothing
                -right or left side pockets.also add the bootom kurti pocket. 
            </p></div><div class="col-md-6 col-12 my-auto pocket__umm_img_div__2cVEL"><img class="pocket__umm_image__mv6j5" src="assets/images (4).jpg" height="300px" width="650px" alt="pocketimage"></div></div></div></div>
        

            <div class="info">
                <h4>Modern Pockets</h4>
              </div>
              <div class=" vc_custom">
            
                <div id="text-block" class="mk-text ">
                  <p style="text-align: center;" class="about"> The twentieth century, when several important ideas contributed to changing fashions and the use of pockets in women’s clothing.Pockets were part of women this can easily put mobile or other accessories.The pockets are help to carring out any Garment of ladies. and Also its look like Fashion.</p>
                
                  <div class="clearboth"></div>
                  <div class="clearboth"></div>
                </div>
                </div>
    </div>
