<div class="main">
    <div class="slider-container">
        <div class="image-container" id="imgs">
            <img src="assets/download (12).jpg" alt="first"class="slide active"/>
            <div class="text"> <h1>Services</h1>  </div>
        </div></div>
        <div class="wpb_wrapper">
            <div id="padding-3" class="mk-padding-divider"></div>
            
            
            <h3 id="fancy-title-4" class="mk-fancy-title">
                <span>
                            <p>Our Services</p>
                        </span>
            </h3>
            <div class="clearboth"></div>
            
            
            
            
            <h3 id="fancy-title-5" class="mk-fancy-title-sub1">
                <span>
                            <p>From everyday clothing such as Blouses or dresses, we modify and
                                tailor as per your requests with great results.</p>
                        </span>
            </h3>
            <div class="clearfix"></div>
            </div>
            <div class="our">
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="/blouses">
                  <img src="assets/b16.jpg" alt=" Tailoring of Blouses"title=" Tailoring of Blouses " width="300" height="300">
                </a>
                <div class="desc"><h4 class="heading"><a title="Tailoring of  Blouses " href="/blouses"> Tailoring of Blouses</a></h4></div>
              </div>
            </div>
            
           
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="/dresses">
                  <img src="assets/yellow.jpg" alt=" Tailoring of Gilrs"title=" Tailoring of Girls " width="300" height="300">
                </a>
                <div class="desc"><h4 class="heading"><a title="Tailoring of  Girls " href="/dresses"> Tailoring of Girls</a></h4></div>
              </div>
            </div>
            
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="/one">
                  <img src="assets/sareeone.jpg" alt=" Tailoring of Longdress"title=" Tailoring of Longdress " width="300" height="300">
                </a>
                <div class="desc"><h4 class="heading"><a title="Tailoring of  Longdress " href="/one"> Tailoring of LongDress</a></h4></div>
              </div>
            </div>
            
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="/saree">
                  <img src="assets/img.jpg" alt=" Tailoring of saree"title=" Tailoring of saree " width="300" height="300">
                </a>
                <div class="desc"><h4 class="heading"><a title="Tailoring of  nauwari saree " href="/saree"> Tailoring of Nauwari saree</a></h4></div>
              </div>
            </div>
            
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="/kids">
                  <img src="assets/fro.jpg" alt=" Tailoring of kids"title=" Tailoring of kids " width="300" height="300">
                </a>
                <div class="desc"><h4 class="heading"><a title="Tailoring of  Kids " href="/saree"> Tailoring of Kids</a></h4></div>
              </div>
            </div>
            
            
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="/saree">
                  <img src="assets/women.jpg" alt=" Tailoring of Gagara"title=" Tailoring of Gagara " width="300" height="300">
                </a>
                <div class="desc"><h4 class="heading"><a title="Tailoring of  Gagara " href="/saree"> Tailoring of Gagara</a></h4></div>
              </div>
            </div>
            
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="/fallpico">
                  <img src="assets/fall.jpg" alt=" Tailoring of Fall & Pico"title=" Tailoring of Fall & Pico " width="300" height="300">
                </a>
                <div class="desc"><h4 class="heading"><a title="Tailoring of Fall & Pico  " href="/fallpico"> Tailoring of Fall & Pico </a></h4></div>
              </div>
            </div>
            
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="/repair">
                  <img src="assets/repair.jpg" alt=" Tailoring of Alteration & Repair"title=" Tailoring of Alteration & Repair " width="300" height="300">
                </a>
                <div class="desc"><h4 class="heading"><a title="Tailoring of Alteration & Repair " href="/repair"> Alteration & Repair</a></h4></div>
              </div>
            </div>
          </div>
          <div class="show"></div>
        <div class="part1">
          <img src="assets/ab.jfif" alt="Snow" style="width:100%">
          <input type="text" class="mail" placeholder="Your's mail">  
          <button class="btn"> <a href="/bookappoinment" target="_self">Book An Appointment</a></button>
        </div>
        <div class="clearfix"></div>
          </div>
    