<div class="main">
    <div class="slider-container">
        <div class="image-container" id="imgs">
            <img src="assets/images (50).jpg" alt="first"class="slide active"/>
            <div class="text"> <h1>Nauwari Saree & Gagra</h1>  </div>
        </div></div>
       <h2>Saree and Gagra</h2>
        <div class="wrap">
            
            <div class="card">
              <div class="card__picture"style="height: 250px">
                <img src="assets/nauwari.jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/images (12).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/images (48).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/download (14).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/women.jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="column-break"></div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/download (37).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/download (33).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/download (32).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/download (34).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/download (35).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/gagra.jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="column-break"></div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/lahenga.jpeg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/images (43).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/images (45).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/images (46).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/download (38).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/lahenga1.jpeg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
            <div class="card">
              <div class="card__picture" style="height: 250px">
                <img src="assets/download (36).jpg" width="200" height="200" alt="">
              </div>
              <div class="card__content">
                <p>RS.300</p>
                <a class="btn" href="/bookappoinment">Book an Appointment</a>
              </div>
            </div>
          </div>
          
    
    </div>


   
    
    