<div class="main">
  <div class="mySlides">
    <kendo-scrollview [data]="items" [width]="width" [height]="height" [arrows]="true" [pageable]="true" >
      <ng-template let-item="item">
        <h2 class="demo-title">{{item.title}}</h2>
        <img class="img" src='{{item.url}}' alt='{{item.title}}' [ngStyle]="{minWidth: width}" draggable="false" />
        
      </ng-template>
    </kendo-scrollview>
  </div>
  
  
  <div class="scroll">
    <marquee>Free Pick-Up and Delivery Service <> Standard Delivery in 8 Days <> Express Delivery in 5 Days <> Super Express Delivery in 48 Hours</marquee>
    </div>
    
    <div class="wpb_wrapper">
        <div id="padding-3" class="mk-padding-divider"></div>
        
        
        <h3 id="fancy-title-4" class="mk-fancy-title">
            <span>
                        <p>How Does Tailor Junction Work?</p>
                    </span>
        </h3>
        <div class="clearboth"></div>
        
        <h3 id="fancy-title-5" class="mk-fancy-title-sub">
          <span>
                      <p>It’s simple, affordable and risk free.</p>
                  </span>
      </h3>
      <div class="clearboth"></div>
      
      
      
      </div>
  <div class="wrap">
      
      <div class="card">
        <div class="card__picture"style="height: 250px">
          <img src="assets/images.jpg" width="200" height="200" alt="">
        </div>
        <div class="card__content">
          <h2>Pick</h2>
          <p class="para">Once you book the appointment,tailor will take measurements and pick your fabric.</p>
        </div>
      </div>
      <div class="card">
        <div class="card__picture" style="height: 250px">
          <img src="assets/stich.jpg" width="200" height="200" alt="">
        </div>
        <div class="card__content">
          <h2>Stich</h2>
          <p class="para">Outfit will be stitched under experts guidance.</p>
        </div>
      </div>
      <div class="card">
        <div class="card__picture" style="height: 250px">
          <img src="assets/rupye.png" width="200" height="200" alt="">
        </div>
        <div class="card__content">
          <h2>Deliver</h2>
          <p class="para"> approval and payment confirmation, the design will be sent for production.</p>
        </div>
      </div>
      </div>
      <div class="wpb_wrapper">
        <div id="padding-3" class="mk-padding-divider"></div>
        
        
        <h3 id="fancy-title-4" class="mk-fancy-title">
            <span>
                        <p>Our Services</p>
                    </span>
        </h3>
        <div class="clearboth"></div>
        
        
        
        
        <h3 id="fancy-title-5" class="mk-fancy-title-sub1">
            <span>
                        <p>From everyday clothing such as Blouses or dresses, we modify and
                            tailor as per your requests with great results.</p>
                    </span>
        </h3>
        <div class="clearfix"></div>
        </div>
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="/blouses">
              <img src="assets/b16.jpg" alt=" Tailoring of Blouses"title=" Tailoring of Blouses " width="300" height="300">
            </a>
            <div class="desc"><h4 class="heading"><a title="Tailoring of  Blouses " href="/blouses"> Tailoring of Blouses</a></h4></div>
          </div>
        </div>
        
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="/dresses">
              <img src="assets/yellow.jpg" alt=" Tailoring of Gilrs"title=" Tailoring of Girls " width="300" height="300">
            </a>
            <div class="desc"><h4 class="heading"><a title="Tailoring of  Girls " href="/dresses"> Tailoring of Girls</a></h4></div>
          </div>
        </div>
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="/one">
              <img src="assets/sareeone.jpg" alt=" Tailoring of Longdress"title=" Tailoring of Longdress " width="300" height="300">
            </a>
            <div class="desc"><h4 class="heading"><a title="Tailoring of  Longdress " href="/one"> Tailoring of LongDress</a></h4></div>
          </div>
        </div>
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="/saree">
              <img src="assets/img.jpg" alt=" Tailoring of saree"title=" Tailoring of saree " width="300" height="300">
            </a>
            <div class="desc"><h4 class="heading"><a title="Tailoring of  nauwari saree " href="/saree"> Tailoring of Nauwari saree</a></h4></div>
          </div>
        </div>
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="/kids">
              <img src="assets/fro.jpg" alt=" Tailoring of kids"title=" Tailoring of kids " width="300" height="300">
            </a>
            <div class="desc"><h4 class="heading"><a title="Tailoring of  Kids " href="/saree"> Tailoring of Kids</a></h4></div>
          </div>
        </div>
        
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="/saree">
              <img src="assets/women.jpg" alt=" Tailoring of Gagara"title=" Tailoring of Gagara " width="300" height="300">
            </a>
            <div class="desc"><h4 class="heading"><a title="Tailoring of  Gagara " href="/saree"> Tailoring of Gagara</a></h4></div>
          </div>
        </div>
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="/fallpico">
              <img src="assets/fall.jpg" alt=" Tailoring of Fall & Pico"title=" Tailoring of Fall & Pico " width="300" height="300">
            </a>
            <div class="desc"><h4 class="heading"><a title="Tailoring of Fall & Pico  " href="/fallpico"> Tailoring of Fall & Pico </a></h4></div>
          </div>
        </div>
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="/repair">
              <img src="assets/repair.jpg" alt=" Tailoring of Alteration & Repair"title=" Tailoring of Alteration & Repair " width="300" height="300">
            </a>
            <div class="desc"><h4 class="heading"><a title="Tailoring of Alteration & Repair " href="/repair"> Alteration & Repair</a></h4></div>
          </div>
        </div>
        
        <div class="clearfix"></div>
        <div class="part1">
          <img src="assets/product.jpg" alt="Snow" style="width:100%">
          <div class="text"> <h3>Your Design, We Deliver</h3>  </div>
          <button class="btn"> <a href="/bookappoinment" target="_self">Book An Appointment</a></button>
        </div>

        <div class="clearfix"></div>
        <div id="padding-30" class="mk-padding-divider jupiter-donut-  jupiter-donut-clearfix"></div>
        <div class="container pocket__umm_container__2fSxj"><div class="pocket__umm_main_div__1uXpE"><div class="pocketheading_box"><h2 class="pocket__pocket_heading1__Z5KoW">What do you mean, 'add pockets'? </h2></div><div class="row"><div class="col-md-6 col-12"><h3 class="pocket__umm_heading2__33ZK9">Just that, quite literally.</h3><div class="pocket__underline__1z_Cs"></div><p class="pocket__umm_para__3bgvw">We'll alter your readymade clothes to add in-seam pockets on whichever side you prefer (left or right). We'll find the matching pocket fabric, cut it up into a spacious pocket you can stick your entire hand into &amp; sew it in neatly.</p></div><div class="col-md-6 col-12 my-auto pocket__umm_img_div__2cVEL"><img class="pocket__umm_image__mv6j5" src="assets/images (10).jpg" height="300px" width="650px" alt="pocketimage"></div></div></div></div>
       
        <div class="testimonial-container">
          <h1>What People Say</h1>
          <div class="progress-bar"></div>
              
          <div class="fas fa-quote-right fa-quote"></div>
          <div class="fas fa-quote-left fa-quote"></div>
          <p class="testimonial">
              Stiching is very nice and design also beautiful,the fiting of cloth is perfectly.
          </p>
          <div class="user">
              
              <div class="user-details">
                  <h4 class="username">Ashwini</h4>
                  <p class="role">pune</p>
              </div>
          </div>
      </div>

        </div>
      