<div class="main">
    <div class="slider-container">
        <div class="image-container" id="imgs">
            <img src="assets/images5.jfif" alt="first"class="slide active"/>
            <div class="text"> <h1>Dresses</h1>  </div>
        </div></div>
        <h2>Dresse's Collection's</h2>
        
        
        <div class="row">
          <div class="column rotate">
            <img src="assets/chudidhar.jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Chudidhar with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/doti.jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">Doti with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/download (1).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Chudidhar with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/download (13).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Patiyala with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (39).jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text"> Front neck Design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/download (24).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Patiyala with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/download (25).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Chudidhar with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/download (26).jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">Patiyala with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/download (27).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Salwar </div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (41).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Neck Design</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/download (29).jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">Umbrelaa Dress</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (40).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Chudidhar with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/download (31).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Patiyala with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/dress (2).jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text"> Chudidhar with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (1).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Salwar</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (2).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text"> Salwar</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (32).jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">Umbrelaa Dress</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (33).jpg" alt="Mountains" style="width:100%">
            <div class="overlay">
                <div class="text">Chudidhar with Front neck</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (34).jpg" alt="Snow" style="width:100%">
            <div class="overlay">
                <div class="text">Salwar</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (36).jpg" alt="Forest" style="width:100%">
            <div class="overlay">
                <div class="text">Salwar</div>
              </div>
          </div>
          <div class="column rotate">
            <img src="assets/images (37).jpg" alt="Mountains" style="width:100%" >
            <div class="overlay">
                <div class="text">Patiyala</div>
              </div>
          </div>
        </div>
    
    
    </div>