<div class="main">
    <div class="slider-container">
        <div class="image-container" id="imgs">
            <img src="assets/one.jpg" alt="first"class="slide active"/>
            <div class="text"> <h1>Long Dress/One piece</h1>  </div>
            
        </div></div>
        <h2>Long Dress</h2>
        <div class="row">
            <div class="column rotateY">
              <img src="assets/download (2).jpg" alt="Snow" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/download (3).jpg" alt="Forest" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/12.jpg" alt="Mountains" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with half slive</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/download (39).jpg" alt="Snow" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/download (40).jpg" alt="Forest" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/download (41).jpg" alt="Mountains" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with Design</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/download (42).jpg" alt="Snow" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/download (43).jpg" alt="Forest" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/download (44).jpg" alt="Mountains" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (11).jpg" alt="Snow" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (51).jpg" alt="Forest" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (52).jpg" alt="Mountains" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (53).jpg" alt="Snow" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (54).jpg" alt="Forest" style="width:100%">
              <div class="overlay">
                  <div class="text"> Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (55).jpg" alt="Mountains" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images(12).jpg" alt="Snow" style="width:100%">
              <div class="overlay">
                  <div class="text"> Long Dress with front Neck </div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (57).jpg" alt="Forest" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (58).jpg" alt="Mountains" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (59).jpg" alt="Snow" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (60).jpg" alt="Forest" style="width:100%">
              <div class="overlay">
                  <div class="text"> Long Dress with back Neck</div>
                </div>
            </div>
            <div class="column rotateY">
              <img src="assets/images (62).jpg" alt="Mountains" style="width:100%">
              <div class="overlay">
                  <div class="text">Long Dress with front Neck</div>
                </div>
            </div>
          </div>
    </div>
